<h3>{{title}}</h3>
  <p>{{desc}}</p>
  <a class="btn btn-link" target="_blank" href="{{liveSite}}">Live Site</a>
  <div class="highlights">
    {{#each highlights}}
      <img src="{{this}}" alt="" />
    {{/each}}
  </div>
